.name {
  padding-left: 7px;
}
.btn {
  height: 48px;
  width: 160px;
  text-transform: unset;
  border: 1px solid #26c6da;
  color: #26c6da;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 100% */
  cursor: pointer;
  &:hover {
    background: #26c6da;
    color: #fff;
    font-weight: 600;
  }
}
.phoneBtn {
  display: none;
}
.watchBox {
  display: none;
}
.hoverWrap:hover .watchBox,
.btn:hover .watchBox {
  display: block;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
}
.btn:hover .watchBox {
  top: 71px;
  padding-top: 9px;
}
.watchWrap {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 160px;
  background: #000;
  display: flex;
}
.border {
  width: 1px;
  height: 119px;
  background: #808080;
  margin-top: 6px;
}
.watchImgWrap {
  padding: 0 26px;
  .text {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #fff;
    &:hover {
      color: #26c6da;
    }
  }
  img {
    transition: all 0.36s ease;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  &:hover,
  &.active {
    .text {
      color: #26c6da;
    }
  }
}

@media screen and(max-width:768px) {
  .name {
    width: 90px;
  }
  .phoneBtn {
    display: flex;
    height: 22px;
    font-size: 14px;
    width: 97px;
  }
}
